@import "tailwindcss";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff7b00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6200;
}

body {
  @apply font-['Poppins'] bg-gray-900 text-gray-100;
}

button {
  @apply transition-all duration-300;
}